/* Déclaration de class pour les z-index, de 1 à 5 */
.z-i-1 {
    position: absolute;
    z-index: 1;
}
.z-i-2 {
    position: absolute;
    z-index: 2;
}
.z-i-3 {
    position: absolute;
    z-index: 3;
}
.z-i-4 {
    position: absolute;
    z-index: 4;  
}
.z-i-5 {
    position: absolute;
    z-index: 5; 
}
/* Zone de texte de l'image de couverture du site */
#vignette {
    position: absolute;
    right: 100px;
    bottom: -600px;
    background-color: white;
    opacity: 0.7;
}
/* Menu principal */
body > header {
    background-color: #333333;
    color: white;
}
header > div {
    background-color: #000;
    height: 36px;
    position: relative;
    font-size:13px;
}
#menuPrincipal  {
    background-color: #333333;
    color: white;
}

/* Section : En direct */
#header-en-direct {
    margin-bottom: 12.5px;
    padding-bottom: .2em;
    width: 100%;
}
    /* on peut réutiliser l'en-tête pour les zones qui y ressemblent */
.en-tete {
    height:2.8rem;
    border-bottom: 1px solid #999999;
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: 400;
    font-style: normal;
    bottom: 0;
    padding: 0;
    margin: 0;
    color: #999999;
}
/* pour le conteneur des radios */
.radio {
    width:33%;
    color:#333333;
    line-height: 1.42;
}
.radio > div {
    border-bottom: 1px solid #999999;
    height: 4.2rem;
    line-height: 4.2rem;
}
.radio-div-left {

}
.radio-img {
    height:90px;
    width:42px;
}

a:hover
{
    color: white;
    text-decoration: none;
    text-decoration: underline;
}

.button-link:hover /* POUR LES LIENS DANS LES BOUTONS */
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

li
{

}

.pointer /* POUR DEFINIR UNE MAIN COMME CURSEUR */
{
    cursor: pointer;
}

button
{
    text-align: center;
    opacity: 0.5;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 2.8em;
}

button:active
{
    border: none;
}

.buttons-1 /* POUR TOUS LES BOUTONS DANS UNE SECTION AU FOND SOMBRE */
{
    color: #cccccc;
    background-color: #4d4d4d;
    min-width: 2.8em;
    width: 20em;
}

.buttons-2 /* POUR TOUS LES BOUTONS DANS UNE SECTION AU FOND CLAIR */
{
    color: #999999;
    background-color: #e6e6e6;
    min-width: 2.8em;
    width: 20em;
}

/* FIN GENERAL */

/* CONCOURS */

/* FIN CONCOURS */

/* FOOTER */
.footer-class /* class pour tout le footer */
{
    background-color: #131313;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}