/* Déclaration de class pour les z-index, de 1 à 5 */
.z-i-1 {
    position: absolute;
    z-index: 1;
}
.z-i-2 {

    position: absolute;
    z-index: 2;
}
.z-i-3 {
    position: absolute;
    z-index: 3;
}
.z-i-4 {
    position: absolute;
    z-index: 4;  
}
.z-i-5 {
    position: absolute;
    z-index: 5; 
}
/* section cover */
#section-cover {
    background-color: #333333;
    padding-left: 7%;
}

#section-cover > div {
    padding: 0;
}

#vignette {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 58%;
    background-color: white;
    opacity: 0.8;
    font-family: "Gotham Cond A", "Gotham Cond B", 'SRGSSR', "Helvetica", "Arial", "Verdana", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    font-size: 1.8em;
}

#vignette > h2 {
    color: #af001e;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 1.55rem;
}
#vignette > h1 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.8rem;
    max-height: 2.85em;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: .05em;
    color: #333333;
}
#vignette > p {
    color: #333333;
    line-height: .95em;
    max-height: 1.9em;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: .09em;
    margin-bottom: .05em;
    height: auto;
    font-size: 1rem;
    font-weight: 600;
}
/* FIN section cover */

body > footer
{
    border-top: 3px solid #af001e;
}
/* Menu principal */
body > header {
    background-color: #333333;
    color: white;
}

body > header > div {
    background-color: #000;
    height: 36px;
    position: relative;
    font-size:13px;
}

#menuPrincipal  {
    background-color: #333333;
    color: white;
    padding-right: 15%;
    padding-bottom: 50px;
    height: 50px;
    padding-top: 15px;
    width: 100%;
}

#menu-deroulant
{

}

.header-li
{
    font-size: 12px;
    color: white;
}

.header-link
{
    text-decoration: none;
    color: white;
}

.header-link:hover
{
    background-color: black;
    opacity: 0.8;
}

#header-title
{
    font-size: 40px;
}

#header-logo
{
    
}

#header-logo-link
{
    padding: 0px;
    margin: 0px;
    height: 40px;
}

#header-recherche
{
    /*padding-right: -250px;*/
    /*padding-top: 50px;*/
}

/* Section : En direct */
#header-en-direct, #header-au-programme {
    margin-bottom: 12.5px;
    padding-bottom: .2em;
    width: 100%;
}
/* FIN */

/* section : programme */
#header-au-programme > div {
    top:0;
    right:0;
} 

.programme-description {
    vertical-align: top;
    text-align: left;
}

.programme-description > h1 {
    font-size: 1.8em;
    font-weight: 500;
    font-family: "Gotham Cond A", "Gotham Cond B", 'SRGSSR', "Helvetica", "Arial", "Verdana", sans-serif;
    max-height: 1em;
    margin-left: 5px;
    text-transform: uppercase;
    color: #999999;
}
.programme-description > h1 + h1 {
    color: #333333;;
}
#conteneur-programme {
    text-align: center;
}

/* FIN */
    /* on peut réutiliser l'en-tête pour les zones qui y ressemblent */
.en-tete {
    height:2.8rem;
    border-bottom: 1px solid #999999;
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: 200;
    font-style: normal;
    bottom: 0;
    padding: 0;
    margin: 0;
    color: #999999;
}
/* pour le conteneur des radios */
#radio {
    width:33%;
    color:#333333;
    line-height: 1.42;
}
#radio > div{
    border-bottom: 1px solid #999999;
}
#radio > div > a > div {
    height:43px;
}
.radio-img-left {
    height:42px;
    width:42px;
}

.radio-txt-mid {
    width:100%;
}

.radio-img-right {
    height:36px;
    width:36px;
}

/* card sport */
.card-sport{
    width:50%;
}
    /* permet de centrer les éléments section-sport et le div qui suit */
#section-sport , #section-sport > div {
    text-align: center;
    margin-left: auto;
}

.card-sport-caption {
    text-align: left;
}

.card-sport-caption > h1 {
    font-size: 1.3em;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: .2em;
    margin-bottom: .2em;
    color: #af001e;
    font-weight: 500;
}
.card-sport-caption > p {
    line-height: 1.5em;
    font-weight: 500;
    color:black;
    font-size: 1.5em;
}
.card-caption-sec {
    width: 50%;
    max-height: max-content;
    position: relative;
    vertical-align: top;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica", "Arial", "Verdana", sans-serif;
}
.card-caption-sec > h2  {
    font-size: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    font-weight: 400;
    text-align: left;
    color: #af001e;
    margin-left: 0.3em;
    margin-bottom: 0;
}

.card-caption-sec > p  {
    font-size: 1.1em;
    height: 1.2em;
    line-height: 1.2em;
    font-weight: 400;
    text-align: left;
    color:black;
    margin-left: 0.3em;
    margin-top: 0;
}
/* FIN card sport */

/* culture */

#section-culture > div {
    background: no-repeat 100% url("../img/culture/culture-bg.png");
    max-width: 1070px;
}

#section-culture > div > div + div > div + div > h1 {
    font-size: 1.5em;
    color :#98b4fe;
}
#section-culture > div > div + div > div + div > p {
    font-size: 1.5em;
    color :white;
}

#culture-header {
    vertical-align: top;
}

#culture-header > div > div + div {
    text-align:right;
}
/* FIN culture */

a:hover
{
    color: #999999;
    text-decoration: none;
    text-decoration: underline;
}

.link
{
    color: #999999;
}

.link-cards
{
    text-decoration: none;
}

.link-cards:hover
{
    text-decoration: none;
}

.button-link
{
    width: 20em; /*Même taille que le bouton */
    max-width: 20em;
}

.button-link:hover /* POUR LES LIENS DANS LES BOUTONS */
{
    text-decoration: none;
}

.h1 /* POUR TOUS LES H1 DANS LES SECTIONS / ARTICLES */
{
    display: inline;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 2.3rem;
    line-height: 2.8rem;
    color: #999999;
}

.hidden /* POUR CACHER LE BORD BLANC A DROITE QUAND CLASS ROW */
{
    margin-right: 10px;
}

ul
{
    list-style-type: none;
}

li
{

}

button
{
    text-align: center;
    display: inline;
    opacity: 0.5;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 2.8em;
}

button:active
{
    border: none;
}

.buttons-1 /* POUR TOUS LES BOUTONS DANS UNE SECTION AU FOND SOMBRE */
{
    color: #cccccc;
    background-color: #4d4d4d;
    min-width: 2.8em;
    width: 20em;
}

.buttons-2 /* POUR TOUS LES BOUTONS DANS UNE SECTION AU FOND CLAIR */
{
    color: #999999;
    background-color: #e6e6e6;
    min-width: 2.8em;
    width: 20em;
}

.pointer /* POUR DEFINIR UNE MAIN COMME CURSEUR */
{
    cursor: pointer;
}
.section-fond-sombre
{
    background-color: #666666;
}

.body-section /* POUR CENTRER LES SECTIONS NE FONCTIONNE PAS SUR LE FOOTER POURQUOI ? */
{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15%;
    /*padding-right: 15%;*/
}
/* FIN GENERAL */

/* SECTION VIDEO 2 */
.videos-header
{
    display: inline;
    width: 100%;
}

.videos-button
{
    display: inline;
}

#videos-button1
{

}

#audio-header
{
    width: 100%;
}

#audio-title
{
    padding: 0px;
    padding-left: 12px;
}

#videos-title
{
    padding: 0px;
    padding-left: 12px;
}

#videos-section
{
    padding-left: 14%;
    padding-right: 16%;
}

/* FIN SECTION VIDEO 2 */

/* SECTION PLUS */
#section-plus
{
    background-color: white;
    /*margin-right: 20%;*/
}

#plus-ligne1
{
    padding-bottom: 15px;
    width: 900px;
}

#plus-ligne2
{
    padding-bottom: 15px;
    padding-right: 17%;
}

.plus-cards
{
    padding: 0px;
    width: 33%;
}

.plus-cards h5
{
    color: red;
}

.plus-cards p
{
    color: black;
}


.plus-div-img
{
    padding: 0px;
    margin: 0px;
}
/* FIN SECTION PLUS */

/*SECION RECOMMANDATION */
#recommandation-section
{
    /*padding-right: 0px;*/
}

.section-video
{
    overflow-x: hidden;
}

.video-header
{
    vertical-align: text-bottom;
}

.recommandation-cards
{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    margin: 5px;
    border-radius: 0px 0px 8px 8px;
    width: 20%;
    max-width: 20%;
    border: none;
}

.recommandation-cards-img-bg
{
    background-color: #666666;
}

.recommandation-img
{
    height: 50%;
    max-height: 50%;
    width: 100%;
}

.recommandation-link:hover
{
    color: black;
}

#recommandation-link
{
    float: right;
    padding-right: 18%;
    padding-top: 17px;
}
/* FIN RECOMMANDATION */

/* CONCOURS */
.concours-super-class
{
    background-color: white;
    height: 210px;
    max-height: 230px;
    margin-bottom: 50px;
    margin-right: 20px;
}
.concours-header
{
    padding-bottom: 20px;
}

#concours-gauche
{
    margin-right: 5%;
}

#concours-droite
{
    margin-left: 5%;
}

#concours-header-title
{
    display: inline;
    padding-left: 0px;
    margin-left: 0px;
}

#concours-div-button
{
    float: right;
    padding-right: 17%;
}

#concours-button-link
{
    padding-right: 0px;
    margin-right: 0px;
}

#concours-button
{
    /*padding-right: 17%;*/
    min-width: 2.8em;
    width: 20em;
}

.concours-cards
{
    display: inline;
    border: 1px solid #f2f2f2;
    width: 250px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    margin: 0px;
}

.concours-img
{
    display: inline;
    float: left;
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
}

.concours-cards-body
{
    /*margin-left: 50px;*/
}

.concours-cards-body p
{
    color: black;
}

.link-cards
{
    text-decoration: none;
    color: black;
}

.link-cards:hover
{
    color: black;
    text-decoration: none;
}
/* FIN CONCOURS */

/* FOOTER */
.footer-class /* class pour tout le footer */
{
    color: white;
    background-color: #131313;
    padding-bottom: 20px;
}

.footer-class a
{
    color: white;
}

.footer-class p /* Ne fonctionne pas si je le fais .class a, p */
{
    color: white;
}

.footer-super-class
{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 15%;
    margin-left: 13%;
    min-width: 1000px;
    max-height: 240px;
    min-height: 240px;
}

#footer-title
{
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.footer-ul
{
    display: block;
}

.footer-ul li
{
    font-size: 14px;
}

.footer-li /* liens en bas de page du footer */
{
    display: inline;
}

.footer-ul-4 /*liste des liens en bas de page footer */
{
    text-align: right;
    border-bottom: 1px solid #333333;
}

.footer-li-4
{
    color: #333333;
}

.footer-end
{
    vertical-align: bottom;
}

.footer-end p
{
    display: inline;
    text-align: right;
    vertical-align: bottom;
}

#logo-RTS-footer
{

}

#footer-text
{
    display: inline;
    float: right;
    margin-top: 17px;
}

#logo-SRG-SSR-footer
{
    vertical-align: bottom;
    padding-bottom: 2px;
    display: inline;
}
/* FIN FOOTER */